<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore>
		<settings>
			<setting name="XA.Foundation.Multisite.Environment" value="$(env:SITECORE_ENVIRONMENT)" />
		</settings>
	</sitecore>
</configuration>